*~
*.class
*.hi
*.o
*.orig
*.prof
*.swp
*.cache.*

.classpath
.project
.metadata
.settings

*.launch

.gwt-tmp/
bin/
dist/
tomcat/
www/
www-test/
war/resources
war/nubbles/nubbles.nocache.js
war/WEB-INF
